<div>
  <h2>Joke List</h2>
</div >
<div ><button class="btn btn-success">Add Joke</button></div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">joke questions</th>
      <th scope="col">joke answers</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>
        <button class="btn btn-danger btn-sm">Delete</button>
        <button class="btn btn-primary btn-sm">Edit</button>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>
        <button class="btn btn-danger btn-sm">Delete</button>
        <button class="btn btn-primary btn-sm">Edit</button>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry the Bird</td>
      <td>feedfdf</td>
      <td>
        <button class="btn btn-danger btn-sm">Delete</button>
        <button class="btn btn-primary btn-sm">Edit</button>
      </td>
    </tr>
  </tbody>
</table>
